.layui-input:focus {
    border-color: #94b2fa!important;
    box-shadow: 0 0 0 3px rgb(90 139 255 / 0.2);
}
.layui-input:focus, .layui-textarea:focus {
    border-color: #94b2fa!important;
    box-shadow: 0 0 0 3px rgb(90 139 255 / 20%);
}
.layui-laypage input:hover, .layui-laypage select:hover {
    border-color: #1E9FFF!important;
}
.layui-laypage input:focus, .layui-laypage select:focus {
    border-color: #94b2fa!important;
    box-shadow: 0 0 0 3px rgb(90 139 255 / 20%);
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #1E9FFF;
}
.layui-laypage a:hover {
    color: #1E9FFF;
}